@import './base.css';
:root{
  --mainColor: rgb(84, 182, 178)
}

html, body {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.mainColor{
  background-color: var(--mainColor);
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr; 
  gap: 1rem;
  height: 100vh; 
}

aside {
  padding: 1rem;
  background-color: var(--mainColor);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px
}

main {
  padding: 1rem;
  display: flex;
  justify-content: center;

}

.seven-columns {
  box-sizing: border-box;
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.scrollable-list {
  max-height: 100px;  
  overflow-y: auto;    
  border: 1px solid lightgray;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.list-item{
  height: 20px !important;
  min-height: 20px !important;
}

.dayCard{
  background-color: var(--mainColor) !important;
  cursor: pointer;
}

.dayPlaceholder{
  cursor: auto;
  opacity: 0.5;
}

.activeDay {
  /* Lighter version of --mainColor */
  opacity: 50%;
}

.day-label{
  min-width: 250px
}

.classes-modal{
  padding: 5px;
  min-height: 50%;
  width: 30%;

}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}
